@use 'media-size.mixins' as m;


//Components
@mixin components {
  :where([base-input]) {
    /*
    border: none;
    background: transparent;
    padding: 0;
    position: absolute;
    inset: 0;
    */
  }

  :where([input]) {
    /*
    color: var(--input-clr);
    */
  }

  :where([btn]) {
    position: relative;
    min-height: 2.25rem;
    padding: 0 1rem;
    text-align: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color .15s;
    &:before {
      content: "";
      display: block;
      inset: 0 -.125rem;
      position: absolute;
    }
    &:hover { background-color: color-mix(in hsl, var(--btn-bg-clr), hsl(0,0%,100%) 4%); }
  }
}